# Postgres DB
POSTGRES_HOST=db # The hostname of the Postgres container (leave unchanged)
POSTGRES_PORT=5432
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=jobs

# Rabbitmq
RABBITMQ_HOST=rabbitmq # The hostname of the RabbitMQ container (leave unchanged)
RABBITMQ_PORT=5672
RABBITMQ_DEFAULT_USER=user
RABBITMQ_DEFAULT_PASS=password

RABBITMQ_QUEUE=jobs
RABBITMQ_VHOST=/

# Backend
SERVER_PORT=8080
ALLOWED_ORIGIN_URL=http://localhost:3000